.Main {
  * {
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 24px;
    }
  }
}
